/* custom colors */
$ride-blue: #04d1e1;
$body-color: #414141;

$border-radius: 1.25rem;
$input-btn-padding-y: .4rem;
$input-btn-padding-x: 1.2rem;
$h1-font-size: 2em;

$theme-colors: (
	"primary": $ride-blue
);

@import "header";
@import "../bootstrap/scss/bootstrap";

.ride-logo-big {
	margin: 1em 0;
}
.ride-logo-small {
	width: 65px;
	height: auto;
	display: inline-block;
}
.navigation {
	display: inline-block;
}
.navigation li {
	font-family: 'Dosis', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 1.2em;
	float: left;
}
.navigation li a {
	color: $ride-blue;
	text-decoration: none;
}
.navigation li a:hover {
	color: darken($ride-blue,10%);
}
.navigation-buffer-cancel {
	margin-bottom: 0;
}
.single-article-row, .destacados-buffer, .single-post-row {
	padding: 0 2em;
}
#sidebar {
	padding: 2em;
}
#ride-content, #ride-content-single-page {	
	img {
		max-width: 100%;
		height: auto;
		vertical-align: middle;
	}
}
#ride-content-single-page {
	h1, h2, h3, h4, h5, h6, p, .media {
		margin-left: 10%;
		margin-right: 10%;
	}
	.meta-info-p {
		margin-left: 0;
		margin-right: 0;
	}
	[class*='wp-image-'], iframe {
		margin-top: 1em;
		margin-bottom: 1.5em;
	}
}
.article-title {
	margin: 0 0 16px 0;
	a {
		color: darken($ride-blue,10%);
		text-decoration: none;
	}
	a:hover {
		color: $ride-blue;
	}
}
.article-category {
	margin: 0;
	font-family: 'Dosis', sans-serif;
	font-weight: 600;
}
.podcast-category:before, .rss-podcast a:before {
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	margin-right: 5px;
	font-weight: 900;
}
.youtube-podcast a:before, .itunes-podcast a:before, .play-podcast a:before, .spotify-podcast a:before {
	font-family: "Font Awesome 5 Brands";
	display: inline-block;
	margin-right: 5px;
	font-weight: 900;
}
.podcast-category::before {
	content: "\f2ce";
}
.youtube-podcast a:before {
	content: "\f167";
}
.itunes-podcast a:before {
	content: "\f3b5";
}
.play-podcast a:before {
	content: "\f3ab";
}
.rss-podcast a:before {
	content: "\f143";
}
.spotify-podcast a:before {
	content: "\f1bc";
}
.media-body, .author-url {
	color: $body-color;
}
.author-url:hover {
	color: $body-color;
	text-decoration: underline;
}
.media-single, .wp-audio-shortcode {
	margin-bottom: 1em;
}
.single-buffer {
	padding: 2em 0;
	margin-bottom: 1.5em;
}
.destacados-buffer, .small-menu-buffer {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}
.meta-info-p {
	margin: 0;
}
h1, h2 {
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	color: darken($ride-blue,15%);
}
.ride-desc {
	background: $ride-blue;
	padding: 2em 0;
	p {
		font-family: 'Nunito', sans-serif;
		font-weight: 400;
		color: lighten($ride-blue,40%);
		font-size: 1.2em;
		margin: 0;
	}
}
footer {
	padding: 2em 0;
}
footer h6 {
	font-family: 'Dosis', sans-serif;
	font-weight: 700;
	color: darken($ride-blue,15%);	
}
#ride-recent {
	.no-thumb-title a {
		color: darken($ride-blue,10%);
		text-decoration: none;
	}
	.no-thumb-title a:hover {
		color: $ride-blue;
	}
	.thumb-title a {
		color: darken($ride-blue,10%);
		text-decoration: none;
	}
	.thumb-title a:hover {
		color: $ride-blue;
	}
	.col-lg-3 {
		border-right: 1px solid #dee2e6;
		padding-bottom: 0.5em;
	}
	.col-lg-3:last-child {
		border-right: 0px;	
	}
	.wp-post-image {
		width: 100%;
		height: auto;
		position: relative;
		z-index: -1;
	}
	.thumb-container {
		margin: 0 -15px .75em;
	}
}
.single-general-thumbnail-container {
	margin: 0 -2em 1.5em;
}
.wp-caption {
	width: 100%;
}
.wp-caption-text {
	text-align: center;
	font-size: 0.75em;
	color: $gray-300;
}
@media screen and (min-width: 992px) {
	.single-article-row {
		border-right: 1px solid #dee2e6;
	}
	#ride-recent {
		.col-lg-3 {
			border-right: 1px solid #dee2e6;
		}
		.col-lg-3:last-child {
			border-right: 0px;	
		}
	}
}
@media screen and (max-width:991px) {
	#ride-recent {
		.col-lg-3 {
			border-right: 1px solid #dee2e6;
		}
		.col-lg-3:nth-child(even) {
			border-right: 0px;	
		}
	}
	#no-home-nav {
		margin-top: 1em;
	}
	#ride-content-single-page {
		h1, h2, h3, h4, h5, h6, p, .media {
			margin-left: 5%;
			margin-right: 5%;
		}
	}
}
@media screen and (max-width: 575px) {
	#ride-recent {
		.col-lg-3 {
			border-right: 0px;
		}
	}
	#ride-content-single-page {
		h1, h2, h3, h4, h5, h6, p, .media {
			margin-left: 5%;
			margin-right: 5%;
		}
	}
}